<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <title>公司列表</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        table,
        th,
        td {
            border: 1px solid black;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <h1>公司列表</h1>

    <p>總共有{{company | length}}筆資料</p>
    <a href="insert/">新增資料</a>
    <table cellpadding="8" border="1">
        <tr>
            <th>編號</th>
            <th>{{ stockid }}</th>
            <th>{{ abbreviation }}</th>
            <th>{{ url }}</th>
            <th>{{ industryname }}</th>
            <th>操作</th>
        </tr>
        {% for company in company %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ company.stockid }}</td>
            <td>{{ company.abbreviation }}</td>
            <td>{{ company.url }}</td>
            <td>{{ company.industryname }}</td>
            <td>
                <a href="detail/{{ company.stockid }}/">詳細資訊</a><br>
                <a href="update/{{ company.stockid }}/">修改資訊</a><br>
                <a href="delete/{{ company.stockid }}/">刪除資訊</a><br>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>
